name: Primary checks

permissions:
  contents: read
  checks: write

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: Mypy and tests
    timeout-minutes: 5
    strategy:
      max-parallel: 5
      matrix:
        python_version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [ubuntu-22.04, ubuntu-24.04, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Setup python ${{ matrix.python_version }} and env
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
          cache: 'pip' # caching pip dependencies

      - name: Create virtual env
        run: |
          python -m venv .venv

      - name: Install package with dependencies
        run: |
          source .venv/bin/activate
          pip install -e '.[dev]'
          mkdir -p junit

      - name: Mypy
        run: |
          source .venv/bin/activate
          mypy --strict gpuq tests --junit-xml=junit/mypy-results.xml

      - name: Tests
        run: |
          source .venv/bin/activate
          pytest tests/ --junitxml=junit/test-results.xml

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/junit/*.xml'
  

  final_status_check:
    name: Final result
    if: ${{ always() }}
    needs: [tests]
    runs-on: ubuntu-latest
    steps:
      - run: exit 1
        # see https://stackoverflow.com/a/67532120/4907315
        if: >-
          ${{
               contains(needs.*.result, 'failure')
            || contains(needs.*.result, 'cancelled')
            || contains(needs.*.result, 'skipped')
          }}


  build-wheels:
    name: Build wheels
    needs: [tests]
    if: ${{ github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref_type == 'tag') }}
    timeout-minutes: 5
    runs-on: ${{ matrix.os }}

    strategy:
      max-parallel: 4
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, macos-15-intel]

    steps:
      - uses: actions/checkout@v5

      - name: Set up QEMU
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
